# .env file
# Database settings
POSTGRES_DB=<YOUR_DB_HOST> # The name of your PostgreSQL database
POSTGRES_USER=42_lyon # Your PostgreSQL username
POSTGRES_PASSWORD=BornToCode # Your PostgreSQL password
POSTGRES_HOST=db # The hostname of your PostgreSQL database. In docker-compose, this is the name of your database service

# Other settings
STORAGE_PATH=/home/polo/Documents

JWT_SECRET=secret-de-ouf

UID_42=u-s4t2ud-c601adb4ff1b1cb2a3beeecf17b0f6fdda957b3fda7f427d752162777499d169
SECRET_42=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

CALLBACK_URL_42=http://localhost/4000/auth/token

REDIRECT_URI=http%3A%2F%2Flocalhost%3A4000%2Fapi%2Fauth%2Fcallback42
