@import './variables.css';

.button-as-link {
  background: none;
  border: none;
  padding: 0;
  color: purple;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  transition: color 0.3s;
}

.button-as-link:hover, .button-as-link:focus {
  color: white;
}

.button-as-link:active {
  color: navy;
}
