
.ChatViewContainer{
    height: 100%;
    display: flex;
    position: relative;
}

.ChatView{
    background-color: #262421;
    color: white;
    overflow: scroll;
    transition: 0.24s all ease;
    height: 100%;
}

.isDisplay{
    width: 100%;
    transition: 0.24s all ease;
}

.isReduce{
    width: 100%;
    transition: 0.24s all ease;
}
