
.ChatBoxContainer{
    height: calc(100vh - 68.5px - 20px); /* 68.5px = height of navbar and 20 px = height of padding of ChatBoxContainer*/
    background-color: #161512;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.MessageContainer{
    display: flex;
    width: 80%;
    background-color: red;
    height: 100%;
}