
.MessageSide{
    background-color: #302E2C;
    width: 30%;
    height: 100%;
    overflow: scroll;
}

@media (max-width: 800px) {
    .MessageSide {
        width: 100%;
    }
}

.containerSearchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E3B38;
}