.searchBar{
    height: 60px;
    background-color: #3E3B38;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.searchBar input{
    background-color: #262421;
    color: #C7c7c7;
    border: 1px solid #c7c7c7;
    height: 30px;
    width: 70%;
    border-radius: 5px;
    font-size: 16px;
    padding: 0px 0px 0px 20px;
}

.searchBar input:focus{
    outline:none;
}

.SearchBarResults{
    height: auto;
    display: none;
}

.HideSearchBarResults{
    display: none;
}

.DisplaySearchBarResults{
    display: block;
}

.userListSearched{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.userListSearched li{
    cursor: pointer;
    width: 100%;
    display: flex;
}

.userListSearched li p{
    margin:0px;
}

.createChannel{
    padding-left: 20px;
    font-size: 30px!important;
    color: white;
    cursor: pointer;
}

.checkboxSearchBar{
    transform: scale(1.3);
}
