
.ChatViewContainer{
    height: 100%;
    overflow: scroll;
    display: flex;
    position: relative;
    background-color: #262421;
}

.ChatView{
    height: max-content;
}

.isDisplay{
    width: 100%;
}

.isReduce{
    width: 100%;
}
