
.ChatBoxContainer{
    /* @to-do check if the height is ok */
    /* height: calc(100vh - 68.5px - 20px); 68.5px = height of navbar and 20 px = height of padding of ChatBoxContainer */
    height: 100%;
    background-color: #161512;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.MessageContainer{
    display: flex;
    width: 100%;
    height: 100%;
}

@media (max-width: 1350px) {
    .MessageContainer {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .MessageContainer {
        flex-direction: column;
    }

    .ChatBoxContainer{
        padding: 0px!important;
    }
}