.ContentMessage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ContentMessage p {
    text-align: left;
}

.wide {
    width: 70%;
}

.reduce {
    width: 45%;
}

@media (max-width: 800px) {
    .wide {
        width: 100%;
        height: 100%;
    }
}
