
.ContentMessage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ContentMessage p {
    text-align: left;
}

.wide{
    width: 70%;
}

.reduce{
    width: 45%;
}