.HeaderChatBox{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #3E3B38;
    color:#C7C7C7;
}

.ContactName, .HeaderChatBoxLogo{
    display: flex;
    align-items: center;
    margin:10px
}

.ContactName p {
    font-size: 22px;
    margin-left: 10px;
}

.ArrowBackPhone{
    display: none;
}


.settingsButton {
  background-color: rgba(0,0,0,0);
  color: white;
  transition: 0.6s all ease;
  border-color: rgba(0,0,0,0);
}

.settingsButton:hover {
    background-color: #262421;
    transition: 0.6s all ease;
}

@media (max-width: 800px){
    .ArrowBackPhone{
        display: block;
        display: flex;
    }
}