.containerJoinChannel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.fontColorWhite {
    color: white;
}

.joinChannelBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.joinChannelBox input {
    margin-bottom: 15px;
}