
.Message {
    display: flex;
    /* width: fit-content; */
}

.MessageComposant{
    color: #94979A;
    background-color: #28353F;
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 15px;
    word-wrap: anywhere;
    box-shadow: 1px 1px 3px black;
    margin: 5px 0px 0px 0px;
}

.Date{
    justify-content: center;
}

.MessageFrom{
    background-color: #3D3220;
}

.MessageTo{
    background-color: #2F3621;
}

.MessageFrom, .MessageTo {
    max-width: 500px;
    padding: 6px 12px;
}

.MessageFromContainer{
    justify-content: flex-start;
    padding-left: 12px;
}

.MessageToContainer {
    justify-content: flex-end;
    padding: 0px 12px;
}

.reduceMsgWidth{
    max-width: 65%!important;
}

.username{
    font-size: 9px;
    margin: 0px;
    padding: 0px;
    color: #A8A8A8;
}
 
/* .wideMsgWidth{
    width: 80%;
} */