.PreviewUser{
    display: flex;
    width: fit-content;
    margin: 0px 3px;
    font-size: 15px;
    padding: 0px 7px;
    display: flex;
    font-weight: 400;
    color: grey;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
}

.PreviewUser .icon{
    cursor: pointer;
    padding-left: 4px;
    padding-right: 7px;
}

.previewUserAvatar{
    border-radius: 14px;
    margin-right: 6px;
    position: relative;
    max-width: unset!important;
    height:29px!important;
    width: 29px!important;
}

.PreviewUser span{
    background-color: #E9EDEF;
    display: flex;
    border-radius: 13px;
}

.MutedMode{
  flex-direction: column;
  padding-bottom: 10px!important;
  padding-top: 10px!important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SpanMutedMode{
  width: fit-content;
}

.fadeIn {
    animation: fadeInAnimation 0.5s ease-in-out;
    opacity: 1;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }