.PreviewUser{
    border-radius: 15px;
    width: fit-content;
    margin: 0px 3px;
    font-size: 15px;
    padding: 0px 7px;
    display: flex;
    background-color: #E9EDEF;
    font-weight: initial;
    color: grey;
}

.PreviewUser button {
    padding: 0;
    background-color: #E9EDEF;
    font-size: 11px;
    margin-left: 7px;
}