
.User{
    color:white;
    height: 72px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.Container_avatar{
    padding-left: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.User2{
    padding-left: 15px;
}

.User:hover{
    background-color: #2F3621;
}

.avatar_image{
    border-radius: 50%!important;
    max-width: unset!important;
    width: 49px!important;
    height: 49px!important;
}

.User .username{
    width: 100%;
}

.username{
    display: flex;
    padding-left: 15px;
    overflow: hidden;
}
